RewriteEngine On

RewriteBase /
RewriteRule ^index\.html$ - [L]

RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Match /api/anything
RewriteRule ^api/(.*)$ api.php?endpoint=$1 [QSA,L]

# Match /api exactly
RewriteRule ^api$ api.php [QSA,L]
